CONFIG_PATH=./config/local.yaml
ALIAS_LENGTH=5
AUTH_USER=your_user
AUTH_PASSWORD=your_password

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=url_shortener

DATABASE_URL=postgres://postgres:postgres@postgres:5432/url_shortener